<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
		<label> Name
      <%= f.text_field :name %>
		</label>
  </div>
  <div class="field">
		<label> Email
      <%= f.text_field :email %>
		</label> 
  </div>
  <div class="field">
    <label> Inquiry
   	  <%= f.text_area :inquiry %>
		</label>
  </div>
  <div class="field">
		<label> Phone
      <%= f.text_field :phone %>
		</label>
  </div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
<% end %>